@import "@carbon/themes/scss/themes";

$carbon--theme: map-merge($carbon--theme--white,(
  interactive-01: #1aba9c,
  interactive-02: #2c2e3a,
  interactive-04: #1aba9c,
  interactive-03: #1aba9c,
  ui-background: #ffffff,
  
));

@include carbon--theme();
